<section class="container-fluid bg-light p-5">
    <h3>Tasks List</h3>
    <div class="card" *ngIf="tasks.length==0">
        <p class="card-text">No Tasks Found</p>
    </div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Task#</th>
                <th>Task Name</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of tasks">
                <td>{{t.taskId}}</td>
                <td>{{t.taskName}}</td>
            <td>
                <a class="btn btn-info btn-sm mr-2"
                routerLink="/details/{{t.taskId}}">DETAILS</a>
                <a class="btn btn-success btn-sm mr-2"
                [routerLink]="'/edit/'+t.taskId">EDIT</a>
                <a class="btn btn-warning btn-sm mr-2"
                (click)="delete(t.taskId)">DELETE</a>
            </td>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <th colspan="4"><strong>{{tasks.length}} tasks</strong></th>
            </tr>
        </tfoot>
    </table>
</section>